.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: #bdfef2;
  text-decoration: none;
  font-size: 14px;
}
