[submodule "notheme-starter"]
	path = notheme-starter
	url = https://github.com/kamranayub/pluralsight-gatsby-demo-starter
	branch = module-5-transformer-plugin
[submodule "theme-starter"]
	path = theme-starter
	url = https://github.com/kamranayub/pluralsight-gatsby-demo-starter
	branch = main
